.container {
	width: 450px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 25px;
	border: 1px solid #343434;
}

.searchInput {
    flex: 2;
	color: white;
	font-size: 16px;
	background-color: #121212;
	border-bottom-left-radius: 24px;
	border-top-left-radius: 24px;
	padding: 12px;
	padding-left: 20px;
}
.searchInput:focus-visible {
	z-index: 3;
	padding-left: 24px!important;
	padding: 13px;
	border: 1px solid white;
}

.searchButton {
	color: white;
	padding: 12px 20px;
	
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	transition: 0.3s ease;
	background-color: #222;
}