.container {
	background-color: black;
	padding: 5px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
	width: 97%;
	justify-content: space-between;
	position: fixed;
	overflow: hidden;
	top: 0;
    z-index: 2022;
	
}

.logo {
	display: flex;
    align-items: center;
}
.logoTitle {
	font-size: 22px;
	font-weight: 500;
}
.logo img {
	margin-right: 10px;
	height: 36px;
}

@media (max-width: 560px) {
	.logoTitle {
		display: none;
	}
}

@media (max-width: 440px) {
	.container {
		padding: 10px 5px;
	}
}